In [2]:
import pandas as pd
data=pd.read_csv('ADANIPORTS.csv')
print(data)

      Unnamed: 0                       date    open    high     low   close  \
0              0  2021-06-24 09:15:00+05:30  724.00  724.65  710.50  712.75
1              1  2021-06-24 09:20:00+05:30  712.35  715.80  711.40  713.15
2              2  2021-06-24 09:25:00+05:30  713.10  714.70  711.80  714.00
3              3  2021-06-24 09:30:00+05:30  714.25  715.00  708.65  710.65
4              4  2021-06-24 09:35:00+05:30  710.85  710.90  706.40  710.40
...          ...                        ...     ...     ...     ...     ...
1570        1570  2021-07-23 15:05:00+05:30  682.60  682.75  680.10  681.30
1571        1571  2021-07-23 15:10:00+05:30  681.45  681.90  680.50  680.90
1572        1572  2021-07-23 15:15:00+05:30  680.95  681.45  678.85  679.30
1573        1573  2021-07-23 15:20:00+05:30  679.30  679.50  677.25  678.90
1574        1574  2021-07-23 15:25:00+05:30  678.90  679.00  677.70  678.80

       volume
0     1957851
1      777154
2      462022
3      864680
4      914144
...       ...
1570   229629
1571   167450
1572   290605
1573   286524
1574   170478

[1575 rows x 7 columns]

In [5]:
import pandas as pd
data=pd.read_csv('ADANIPORTS.csv')
data

,Unnamed: 0,date,open,high,low,close,volume
0,0,2021-06-24 09:15:00+05:30,724.00,724.65,710.50,712.75,1957851
1,1,2021-06-24 09:20:00+05:30,712.35,715.80,711.40,713.15,777154
2,2,2021-06-24 09:25:00+05:30,713.10,714.70,711.80,714.00,462022
3,3,2021-06-24 09:30:00+05:30,714.25,715.00,708.65,710.65,864680
4,4,2021-06-24 09:35:00+05:30,710.85,710.90,706.40,710.40,914144
...,...,...,...,...,...,...,...
1570,1570,2021-07-23 15:05:00+05:30,682.60,682.75,680.10,681.30,229629
1571,1571,2021-07-23 15:10:00+05:30,681.45,681.90,680.50,680.90,167450
1572,1572,2021-07-23 15:15:00+05:30,680.95,681.45,678.85,679.30,290605
1573,1573,2021-07-23 15:20:00+05:30,679.30,679.50,677.25,678.90,286524
1574,1574,2021-07-23 15:25:00+05:30,678.90,679.00,677.70,678.80,170478

In [17]:
import pandas as pd
import datetime
data=pd.read_csv('ADANIPORTS.csv')
for i, row in data.iterrows():
    print(i,row[1])
    break

0 2021-06-24 09:15:00+05:30

In [20]:
import datetime
datetime_object = datetime.datetime.strptime('2021-06-24 09:15:00+05:30',"%Y-%m-%d %H:%M:%S%z" )
datetime_object
datetime_object.hour

9

In [70]:
import pandas as pd
import datetime
hour_to_filter = 10
data=pd.read_csv('ADANIPORTS.csv')
filter_dataframe = pd.DataFrame()
for i, row in data.iterrows():
#     print(i,row)
    datetime_object = datetime.datetime.strptime(row[1],"%Y-%m-%d %H:%M:%S%z" )
    if(datetime_object.hour == hour_to_filter):
#         print (i,row)
        filter_dataframe.append(row)
filter_dataframe

Empty DataFrame
Columns: []
Index: []

In [27]:
df = pd.DataFrame()

In [29]:
filter_dataframe

Empty DataFrame
Columns: []
Index: []

In [37]:
import pandas as pd
import datetime
hour_to_filter = 10
data=pd.read_csv('ADANIPORTS.csv')
filter_dataframe = pd.DataFrame()
for i, row in data.iterrows():
#     print(i,row)
    datetime_object = datetime.datetime.strptime(row[1],"%Y-%m-%d %H:%M:%S%z" )
    if(datetime_object.hour == hour_to_filter):
        type(row)
#         print (i,row)

In [67]:
import pandas as pd
import datetime
hour_to_filter = 10
data=pd.read_csv('ADANIPORTS.csv')
filter_dataframe = pd.DataFrame()
for i, row in data.iterrows():
    datetime_object = datetime.datetime.strptime(row[1],"%Y-%m-%d %H:%M:%S%z" )
    if(datetime_object.hour == hour_to_filter):
        filter_dataframe = filter_dataframe.append(data.loc[i])
filter_dataframe.to_csv('filter.csv')

In [50]:
type(filter_dataframe)

pandas.core.frame.DataFrame

In [53]:
data.at[3,'date']

'2021-06-24 09:30:00+05:30'

In [61]:
filter_dataframe.append([[5, 6,7, 8]])

   0  1  2  3
0  5  6  7  8

In [63]:
filter_dataframe

Empty DataFrame
Columns: []
Index: []

In [64]:
print(filter_dataframe)

Empty DataFrame
Columns: []
Index: []

In [65]:
filter_dataframe.append([[5, 6,7, 8]])
print(filter_dataframe)

Empty DataFrame
Columns: []
Index: []

In [68]:
filter_dataframe

,Unnamed: 0,close,date,high,low,open,volume
9,9.0,710.95,2021-06-24 10:00:00+05:30,712.00,709.00,711.55,453923.0
10,10.0,710.50,2021-06-24 10:05:00+05:30,712.50,710.00,710.65,234069.0
11,11.0,708.95,2021-06-24 10:10:00+05:30,710.70,708.25,710.25,311430.0
12,12.0,710.00,2021-06-24 10:15:00+05:30,710.40,708.30,708.60,286477.0
13,13.0,709.00,2021-06-24 10:20:00+05:30,710.50,708.50,710.35,154520.0
...,...,...,...,...,...,...,...
1516,1516.0,682.55,2021-07-23 10:35:00+05:30,684.60,682.25,684.15,73306.0
1517,1517.0,680.70,2021-07-23 10:40:00+05:30,682.50,680.50,682.50,154672.0
1518,1518.0,679.40,2021-07-23 10:45:00+05:30,680.75,678.60,680.75,220560.0
1519,1519.0,679.50,2021-07-23 10:50:00+05:30,679.70,678.25,679.40,96932.0
1520,1520.0,680.50,2021-07-23 10:55:00+05:30,681.40,679.50,679.50,102654.0

In [69]:
import pandas as pd
import datetime
hour_to_filter = 10
data=pd.read_csv('ADANIPORTS.csv')
filter_dataframe = pd.DataFrame()
for i, row in data.iterrows():
    datetime_object = datetime.datetime.strptime(row[1],"%Y-%m-%d %H:%M:%S%z" )
    if(datetime_object.hour == hour_to_filter):
        filter_dataframe = filter_dataframe.append(data.loc[i])
filter_dataframe.to_csv('filter.csv')