In [1]:
ls = []
ls

[]

In [6]:
ls = [1,2,3,4,5,6]
ls.reverse()
print(ls)

[6, 5, 4, 3, 2, 1]

In [7]:
squares = []
for i in range(10):
    squares.append(i)
print(squares)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
a = []
for i in range(1,10):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
a = []
for i in range(1,10,2):
    a.append(i)
print(a)

[1, 3, 5, 7, 9]

In [10]:
a = []
for i in range(1,10,4):
    a.append(i)
print(a)

[1, 5, 9]

In [21]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
def double_it(lst):
    return a * 2


new_ls = map(double_it, a)
print(type(new_ls))
list(new_ls)

<class 'map'>

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [14]:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08
def get_price_with_tax(txn):
    return txn * (1 + TAX_RATE)
final_prices = map(get_price_with_tax, txns)
list(final_prices)

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [23]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
def double_it(lst):
    return lst * 2


new_ls = map(double_it, a)
print(type(new_ls))
list(new_ls)

<class 'map'>

[2, 4, 6, 8, 10, 12, 14, 16, 18]

a nice code for MCQ

In [26]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
def double_it(lst):
    return a * 2

new_ls = map(double_it, a)
print(type(new_ls))
list(new_ls)

<class 'map'>

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

list comprehension

In [33]:
squares = [i * i for i in range(10)]
squares
lst = [i * 4 for i in range(1,10,2)]
lst

[4, 12, 20, 28, 36]